{% load staticfiles %}
<html>
    <head>
        <title>Chef Lorenzo</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
    
    	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="https://www.cheflorenzo.fr">Chef Lorenzo</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/">Accueil</a></li>
	            <li><a href="#">Tableau de Bord</a></li>
	            {% if user.is_authenticated %}
                    <li><a href="{% url 'post_new' %}">Ajouter Article</a></li>
                {% endif %}
                {% if user.is_authenticated %}
	                <li class="divider"></li>
	                <li><a href="/admin">Administration</a></li>
                {% endif %}
	            <li class="divider"></li>
                {% if user.is_authenticated %}
	                <li><a href="/admin/logout">Déconnexion</a></li>
                {% else %}
                    <li><a href="/admin">Connexion</a></li>
                {% endif %}
	          </ul>
	        </li>

	      </ul>
	    </div>
	  </div>

	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
	    {% block javascript %}
	    {% endblock %}
        
	</nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>